#img-name {
    color: orange;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}
#img-source {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 10px;
}
#footer-txt{
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
}
#footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
}
#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
}
#bawah {
    width:500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#atas {
     text-align: center;
}
